!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    Hello,

    you just created a new account in Katuma.org

    Please follow this link to complete the sign up process:

    \#{link_to(@url, @url)}

    Bye and thank you!

    Katuma team
