!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to katuma.org, #{@user.name}
    %p
      You have successfully signed up.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!
