/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

input {
  width: 150px;
}

ul.group-list {
  list-style-type: none;
}

@font-face {
  font-family: "Glyphicons Halflings";
  src: url("../public_pages/glyphicons-halflings-regular.eot");
  src: url("../public_pages/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  url("../public_pages/glyphicons-halflings-regular.woff") format("woff"),
  url("../public_pages/glyphicons-halflings-regular.ttf") format("truetype"),
  url("../public_pages/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
