.focus-page
  .focus-page__container
    .focus-page__content

      - show_flash

      %form{action: signup_path, method: "POST"}
        .form-group
          %input.form-control.input-lg{name: "email", placeholder: t('account.session.email_placeholder'), type: "text", autofocus: true}

        .form-group
          %button.btn.btn-primary.btn-lg.btn-block{type: "submit"}= t('account.signup.button_label')

      = render partial: 'shared/partials/footer_logo', locals: {text: t('account.signup.footer_text')}
