<!DOCTYPE html>
<html>
<head>
  <title>Suppliers</title>
  <%= stylesheet_link_tag    "suppliers/application", media: "all" %>
  <%= javascript_include_tag "suppliers/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
