<li class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-body">
      <span class="glyphicon glyphicon-picture"></span>
    </div>
    <div class="panel-footer">
      <%= link_to group.name, group %>
    </div>
  </div>
</li>
