<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new group</h3>
  </div>
  <div class="panel-body">
    <%= form_for @group, url: { action: 'create' }, html: { class: 'form-group' } do |f| %>
      <div class="form-group">
        <%= f.label 'Group name:', for: 'group_name' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <%= f.submit 'Create', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
