<div class="group-details row">
  <div class="group-name col-md-11">
    <h3><%= @group.name %></h3>
  </div>
  <div class="group-settings col-md-1">
    <h3>
      <%= link_to 'Settings', settings_group_path(@group), class: 'btn btn-link' %>
    </h3>
  </div>
</div>
<div class="row">
  <div class="js-group-members col-md-4">
    <h4>Members</h4>
    <div class="list-group">
      <a class="list-group-item" href="#/groups/{{ group_id }}/members/create">Invite a new member
        <span class="badge glyphicon glyphicon-plus"></span>
      </a>
      <%= render partial: 'member', collection: @group.users %>
    </div>
  </div>
  <div class="js-group-waiting-list col-md-4">
    <h4>Waiting list</h4>
  </div>
</div>
