.group-details.row
  .group-name.col-md-11
    %h3= @group.name
  .group-settings.col-md-1
    %h3
      = link_to 'Settings', settings_group_path(@group), class: 'btn btn-link'
.row
  .js-group-members.col-md-4
    %h4 Members
    .list-group
      %a.list-group-item{href: "#/groups/{{ group_id }}/members/create"}
        Invite a new member
        %span.badge.glyphicon.glyphicon-plus
      = render partial: 'member', collection: @group.users
  .js-group-waiting-list.col-md-4
    %h4 Waiting list
